@CHARSET "ISO-8859-1";

*{
	margin:0px;
	padding:0px;
	font-family:arial;
	font-size:12px;
}

html, body{
	width:100%;
	height:100%;
}

.weeksWrapper{
	width:100%;
}

.weeksWrapper > div{
	margin:10px;
}

h1{
	font-size:24px;
}
.weekTable{
	/*margin:10px;*/
	width:100%;
	border-left:1px solid #e5e5e5;
}

.weekTable caption{
	font-size: 24px;
	text-align:left;
}

.weekTable > thead > tr > th{
	/* border-top:1px solid #c8c8c8; */
}
.weekTable > thead tr{
	background-color:#ccc;
	text-align:center;
	vertical-align:middle;
}

.weekTable > tbody > tr > td{
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	font-size:12px;
	vertical-align:top;
}

.weekTable > tbody > tr > .devName{
	padding:2px;
	vertical-align:middle;
}

.weekTable > tbody > .teamSeparator > td{
	height:10px;
	background-color:#000;
	border:none;
}

.smallContainer{
	height:100%;
}

.task{
	/* height:100%; */
	width:100%;
	border:none;
}

.task, .task > tr > td{
	margin:0px;
	padding:0px;
	border:none;
}

/* .task span{
	display:inline;
	position:absolute;
	top:100%;
} */

.taskName{
	background-color: #e5e5e5;
	padding:2px;
}

.taskTime{
	width:20px;
	color: #fff;
	background-color: #333;
	text-align:center;
}
