@CHARSET "ISO-8859-1";

* {
	margin: 0px;
	padding: 0px;
	font-family: arial;
	font-size: 12px;
}

html,body {
	width: 100%;
	height: 100%;
}

.weeksWrapper {
	width: 100%;
	overflow:auto;
}

.weeksWrapper>div {
	margin: 10px;
	margin-top:40px;
}

h1 {
	font-size: 24px;
}

.weekTable>tbody>tr>.devName {
	padding: 2px;
	vertical-align: middle;
}

.weekTable>tbody>.teamSeparator>td {
	height: 10px;
	background-color: #000;
	border: none;
}

.smallContainer {
	height: 100%;
}

.task { /* height:100%; */
	width: 100%;
	border: none;
}

.task,.task>tr>td {
	margin: 0px;
	padding: 0px;
	border: none;
}

.taskName {
	background-color: #e5e5e5;
	padding: 2px;
}

.taskTime {
	width: 20px;
	color: #fff;
	background-color: #333;
	text-align: center;
}

/************************************/
div.floating-menu {
	position: fixed;
	background: #fff4c8;
	border: 1px solid #ffcc00;
	width:100%;
	z-index: 100;
}

div.floating-menu a, div.floating-menu h3 {
	display:inline-table;
	padding:5px;
	margin:0px;
	text-decoration:none;
}