@CHARSET "ISO-8859-1";

* {
	margin: 0px;
	padding: 0px;
/* 	font-family: arial; */
}

html,body {
	width: 100%;
	height: 100%;
}

.weeksWrapper {
	width: 100%;
	overflow: auto;
	font-size:12px;
}

.weeksWrapper>div {
/* 	margin: 10px; */
	margin-top: 40px;
}

h1 {
	font-size: 24px;
}

.tblForm{
	margin:0px auto 0px auto;
	width:100%;
}

.tblForm tr td{
	padding:2px;
}

.tblForm tr td.label{
	text-align:right;
}

.tblForm tr td.formInput{
	text-align:left;
	padding-left:0px;
	padding-right:0px;
	overflow:hidden;
}

.tblForm tr td.formInput input{
	width:100%;
}

.weekTable>tbody>tr>.devName {
	padding: 2px;
	vertical-align: middle;
}

.weekTable>tbody>.teamSeparator>td {
	height: 10px;
	background-color: #000;
	border: none;
}

.smallContainer {
	height:100%;
	overflow:hidden;
}

.task { /* height:100%; */
	width:100%;
	height:100%;
	border: none;
}

.task,.task>tr>td {
	margin: 0px;
	padding: 0px;
	border: none;
}

.delayed {
	/*border: 2px solid #333;*/
}

.delayed,.delayed>tr>td {
/* 	background:none !important; */
/* 	background-color:#000000 !important; */
}

.delayed .taskName /* , .delayed .taskTime */ {
/* 	background:none !important; */
	background-image:url(../imgs/delay_pattern4.png);
	background-repeat:repeat;
}

.taskName {
	padding: 2px;

	vertical-align:middle;
	height:100%;
/* 	border-left:1px solid #ccc; */
	background-color:#e5e5e5;
}

.taskTime {
	width:20px;
	color:#fff;
	text-align:center;
	border-left:1px solid #000;
	background-color:#333;
	background-image:url(../imgs/gradient/taskTime_back.png);

	color:#ccc;
	background-color:#333;
	text-shadow:1px 1px #000;
}

/************************************/
div.floating-menu {
	position: fixed;
/* 	background: #fff4c8; */
/* 	border: 1px solid #ffcc00; */
	width: 100%;
	z-index: 100;
}

/* div.floating-menu a,div.floating-menu h3 { */
/* 	display: inline-table; */
/* 	padding: 5px; */
/* 	margin: 0px; */
/* 	text-decoration: none; */
/* } */

.projectSelector > a, .projectSelector > ul{
	width:auto !important;
	max-width:160px !important;
	overflow:hidden;
}
.projectSelector > a > ui-selectmenu-status{
	margin:0px;
}

/************************************/


.father{
	width:100%;
	clear:both;
	height:80px;
}
.father{
	border-top:1px solid;
	border-left:1px solid;
	border-color:#e5e5e5;
}
.father > div{
	width:20%;
	/* height:80px; */
	float:left;
}

.father > div > div{
/* 	border-right:1px solid; */
/* 	border-bottom:1px solid; */
	border-color:#eee;
	/* padding:2px 4px; */
	padding:0px;
	vertical-align:middle;
	background-color:#ccc;
}
.dotdotdot{
	height:100%;
}
.finalCont{
	overflow:hidden;
}

